body {
    background-color: #363636;
    color: white;
}

button {
    background-color: rgb(64, 255, 86);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

button:hover {
    background-color: rgb(34, 209, 57);
}

.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 30px;
}
.QAcontainer {
    margin-bottom: 20px;
}

input[type="submit"] {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(152, 255, 164);
    background-color: rgb(64, 255, 86);
    color: white;
    font-weight: bold;
  }
  input[type="radio"] {
    border-radius: 5px;
    border: 2px solid lightgray;
    background-color: #363636;
    color: white;
    padding: 5px;
  }